@model ControleClinicaPsicologia.Models.Consulta

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar Consulta</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ConsultaId" />
            <div class="form-group">
                <label asp-for="PacienteNome" class="control-label">Nome do Paciente</label>
                <input asp-for="PacienteNome" class="form-control" asp-items="ViewBag.PacienteId"/>
                <span asp-validation-for="PacienteNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PsicologoNome" class="control-label">Nome do Psicologo</label>
                <input asp-for="PsicologoNome" class="form-control" asp-items="ViewBag.PsicologoId" />
                <span asp-validation-for="PsicologoNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label">Telefone</label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataConsulta" class="control-label">Data e Hora da Consulta</label>
                <input asp-for="DataConsulta" class="form-control" />
                <span asp-validation-for="DataConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacoes" class="control-label"></label>
                <input asp-for="Observacoes" class="form-control" />
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
            <hr/>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
